{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}
<div class="container aboutPage">
<h1 id="accountHeader">About</h1>

<!-- main about section below  -->
<p class="about">This is a family run business that has been leading tours for almost 30 years. We have applied our ever-growing mastery of adventure seeking, fine cuisine, and safety standards. Every decade we learn something new and love adding new adventures. We love feed back, so please drop us a line below.</p>

<!-- Comments Here -->

    <fieldset class="cols spacing" id="fields">
      <div class="row sendgrid">
        <h2>Contact Form</h2>
      </div>
            <form action="/comment" method="POST">
     
        <div class="row sendgrid">
            <div >
              <input class="blockone" type="text" name="fname" placeholder="first name" required>
            </div>
            <div >
              <input class="blockone" type="text" name="lname" placeholder="last name" required>
            </div>
        </div>
        <div class="row sendgrid">
          <div >
          <input class="blocktwo" type="text" name="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>    
        </div>
        </div>
        <div class="row sendgrid">
          <div >
            <label for="comments">
            <textarea class="blocktwo" id="comments" name="comments" rows="3" cols="30" placeholder="Please share your message here" maxLength="150" required></textarea>
            <p id="results"></p>
            
        </label>
      </div>
      </div>
      
       <!--Form:submit button-->
       <p class="row sendgrid final">
       <input type="submit" value="Submit" class="btn btn-primary">
      </p>
      </form>
  </fieldset>
</div>

 <!-- script -->
 <script src="/static/scripts/textbox.js"></script>

{% endblock %}