{% extends 'base.html' %}
{% block title %}Account{% endblock %}

{% block body %}


<!--Profile View: Name, Birthday, Tours Saved, Tours Booked-->
<div class="container">
  <h1 id="Account">Account Information</h1>
  <section class="profile" style="background-color: #EEEEEE;">
    <div class="UserInfo">
        <h3>{{user.fname}} {{user.lname}}</user></h3>
      <div class="Personal">
        <div class="card-body p-4">
              <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-4 mb-3">
                      <h6>Email</h6>
                      <p class="{{user.user_id}}">{{user.email}}</p>
                    </div>
                    <div class="col-4 mb-3">
                      <h6>Phone</h6>
                      <p class="{{user.user_id}}">{{user.phone}}</p>
                    </div>
                    <div class="col-4 mb-3">
                        <h6>Birthday</h6>
                        <p class="{{user.user_id}}">{{user.birthday}}</p>
                      </div>
                  </div>
        </div>
        <div class="Tours Status">
            <div class="card-body p-4">
                  <h6>Tour Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-12 mb-3">
                        {% if not trips %}
                        <p>There are currently no saved or booked Tours.</p>
                        <p> Please see <a href='/tours'>Tour Page</a> for more info</p>
                        {% else %}
                        <table class="styled">
                          <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Action</th>
                            <th>Status</th>
                            <th>Price</th>
                            <th>Personal Review</th>
                          </tr>
                        
                          {% for trip in profile %}
                          <tr>
                            <td><a href="/tours/{{ trip.tour_id }}">{{ trip.tour }}</a></td>
                            <td>{{ trip.date }}</td>
                            <td>{{ trip.action }}</td>
                            <td>{{ trip.status }}</td>
                            <td>${{'%0.2f' % trip.price |float}}</td>
                          </tr>
                         {% endfor %}
                        </table>
                      {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="card-body p-4">
          <h6>Balance: ${{'%0.2f' % user.balance|float}} </h6>
          <hr class="mt-0 mb-4"> 
        </div>
      </div>
    </div>
  </section>



<!--Log Out of Account-->
  <div class="row">
    <div class="col text-center">
      <fieldset>
        <form action='/logout' method="POST">
          <!--Form:submit button-->
          <input type="submit" value="Log Out" class="btn btn-secondary" id="logout-button">
        </form>
      </fieldset>
    </div>
  </div>

 </div> 

{% endblock %}
