{% extends 'base.html' %}
{% block title %}Account{% endblock %}

{% block body %}

<h1>Account</h1>

<!--Log In to Account-->
<fieldset>
<h2>Log Into Account</h2>
  <form action="/login" method="POST">
    
    <div>
        <input type="text" name="email" placeholder="email">
    </div>
    <div>
        <input type="password" name="password" placeholder="password">
    </div>
    <p>
        <!--Form:submit button-->
      <input type="submit" value="Log In" class="btn btn-primary">
    </p>
    </form>
</fieldset>

<!--Create New Account-->
<fieldset>
  <h2>Create a New Account</h2>

  <form action="/users" method="POST">
    
    <div>
        <span>
            <input type="text" name="fname" placeholder="first name">
            <input type="text" name="lname" placeholder="last name">
        </span>
    </div>
    <div>
        <input type="text" name="email" placeholder="email">    
    </div>
    <div>
        <input type="password" name="password" placeholder="password">
    </div>
    <div>
        <label for="phone" class="label">Phone</label>
        <div>       
        <input type="tel" id="phone" name="phone" placeholder="555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
    </div>
    <!--Create New Account Birthday-->
    <label for="birthday" class="label">Birthday</label>
    <div>
        <input type="date" id="birthday" name="birthday">
    </div>
     <!--Form:submit button-->
     <p>
     <input type="submit" value="Sign Up" class="btn btn-success">
    </p>
    </form>
</fieldset>
  
<!--Log In to Account-->
<fieldset>
    <h2>Log out of Account</h2>
      <form action="/logout" method="POST">
            <!--Form:submit button-->
          <input type="submit" value="Log Out" class="btn btn-dark">
        </p>
        </form>
    </fieldset>

{% endblock %}