   <!-- base.html NEED TO BE UPDATED -->
<!DOCUTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap CSS -->

      <!-- Custom CSS -->

       <!-- Potental Javascript with default script -->

            <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      
      <ul class="navigation">
        <li><a href="/">Home</a></li>
       <li><a href="/account">Account</a></li>
       <li><a href="/tours">Tours</a></li>
       <li><a href="/history">History</a></li>
      <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

   
    
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
<footer>
  <!-- Potental footer on every page -->
</footer>
</html>