{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}

<h1>Contact Form</h1>
<!--Log In to Account-->
<fieldset>
    <h2>We would love to hear from you </h2>
      <!-- <form action="/login" method="POST">
        
        <div>
            <input type="text" name="email" placeholder="email">
        </div>
        <div>
            <input type="password" name="password" placeholder="password">
        </div> -->
        
        
        <p>
          <input type="submit">
        </p>
        </form>
    </fieldset>


{% endblock %}