{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}
<div class="container">
<!-- <h1 id="Account">Account</h1> -->

<!--Log In to Account-->
<fieldset class="cols spacing">
  <div class="row loginPage">
  <h2 class="accountHeader">Account Login</h2>
</div>
  <form action="/login" method="POST">
    
    <div class="row loginPage">
        <input class="blocktwo" type="text" name="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
    </div>
    <div class="row loginPage">
        <input class="blocktwo" type="password" name="password" placeholder="password" required>
    </div>
    
        <!--Form:submit button-->
    <p class="row loginPage final">
        <input type="submit" value="Log In" class="btn btn-primary" id="login-button">
    </p>
    </form>
</fieldset>
</div>


{% endblock %}