{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}

<p id="title">Please Tell Us About Your Experience</p>

<!--Create New Account-->
<fieldset>
  <h3 id="Account">Sign-Up</h3>

  <form action="/users" method="POST">
    
    <div>
        <span>
            <input type="text" name="fname" placeholder="first name" required>
            <input type="text" name="lname" placeholder="last name" required>
        </span>
    </div>
    <div>
        <input type="text" name="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>    
    </div>
    <div>
        <input type="password" name="password" placeholder="password"  required>
    </div>
    <div>
        <label for="phone" class="label">Phone</label>
        <div>       
        <input type="tel" id="phone" name="phone" placeholder="555-555-5555" pattern="1? ?[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
    </div>
    <!--Create New Account Birthday-->
    <label for="birthday" class="label">Birthday</label>
    <div>
        <input type="date" id="birthday" name="birthday" required>
    </div>
     <!--Form:submit button-->
     <p>
     <input type="submit" value="Sign Up" class="btn btn-primary" id="sign-up">
    </p>
    </form>
</fieldset>
  

{% endblock %}