{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}


<!--Update Review/Comments/Rating-->
<fieldset>
  <h3 id="review">Please Tell Us About Your Experience</h3>

  <form action="/review_submission" method="POST">
    
    <div>
        <span>
            <h3 class="tour_id {{ tour.tour_id }}" id="{{ tour.tour_name }}">{{ tour.tour_name }}</h3>
            <p id="{{ tour.dates }}">Dates: {{ tour.dates }}</p>
        </span>
    </div>
    <div>
        <p>Overall experience (scale of 1 through 5)</p>
        <input type="radio" name="rating" value="1" id="one-rating">
        <label for="one-rating">One</label>
        <input type="radio" name="rating" value="2" id="two-rating">
        <label for="two-rating">Two</label>
        <input type="radio" name="rating" value="3" id="three-rating">
        <label for="three-rating">Three</label>
        <input type="radio" name="rating" value="4" id="four-rating">
        <label for="four-rating">Four</label>
        <input type="radio" name="rating" value="5" id="five-rating">
        <label for="five-rating">Five</label>       
    </div>
    <div>
        <div>
        <label for="comment">Leave a Review:</label>
    </div>
        <textarea name="comment" id="comment" placeholder="Leave a Comment"></textarea>
    </div>
         <!--Form:submit button-->
     <p>
     <input type="submit" class="btn btn-primary" id="submit">
    </p>
    </form>
</fieldset>
  

{% endblock %}