{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}

<!--Update Review/Comments/Rating-->
<div class="container">
<fieldset class="cols spacing" id="fields">
    <div class="row loginPage">
        <h2 id="review" class="accountHeader">Share Your Experience</h2>
    </div>
        <form action="/review_submission" method="POST">
    
    <div class="row loginPage" id="reviewing">
        <span >
            <h3 class="tour_id {{ tour.tour_id }}" id="{{ tour.tour_name }}">{{ tour.tour_name }}</h3>
            <p id="{{ tour.dates }}">Dates: {{ tour.dates.strftime("%m/%d/%Y") }}</p>
        </span>
    </div>
    <div class="row loginPage score">
        <p>Overall experience (rating)</p>
    </div>
    <div class="rating row loginPage" >
        <input type="radio" name="star" value="1" id="one-star" required>
        <label for="one-star"><span class="fa fa-star" id="star1" value="1"></span></label>
        <input type="radio" name="star" value="2" id="two-star">
        <label for="two-star"><span class="fa fa-star" id="star2" value="2"></span></label>
        <input type="radio" name="star" value="3" id="three-star">
        <label for="three-star"><span class="fa fa-star" id="star3" value="3"></span></label>
        <input type="radio" name="star" value="4" id="four-star">
        <label for="four-star"><span class="fa fa-star" id="star4" value="4"></span></label>
        <input type="radio" name="star" value="5" id="five-star">
        <label for="five-star"><span class="fa fa-star" id="star5" value="5"></span></label>      
    </div> 
  
    <div class="row loginPage score">
        <label for="comments">Leave a Review:</label>
    </div>
    <div class="row loginPage score">
    <label for="comments">
        <textarea class="blocktwo text" name="comments" id="comments" placeholder="I had an incredible experience scuba diving with seals and otters..." maxLength="150" required></textarea>
        <p id="results"></p>
    </label>
    </div>
    
    <!--Form:submit button-->
    <div class="row loginPage">
        <p>
        <input type="submit" class="btn btn-primary" id="submit">
        </p>
    </div>
    </form>

</fieldset>
  </div>
<!-- script -->
<script src="/static/scripts/review.js"></script>
<script src="/static/scripts/textbox.js"></script>

{% endblock %}