{% extends 'base.html' %}
{% block title %}Account{% endblock %}

{% block body %}

<h1 id="Account">Account</h1>

<!--Create New Account-->
<fieldset>
  <h2>Create a New Account</h2>

  <form action="/users" method="POST">
    
    <div>
        <span>
            <input type="text" name="fname" placeholder="first name" required>
            <input type="text" name="lname" placeholder="last name" required>
        </span>
    </div>
    <div>
        <input type="text" name="email" placeholder="email" required>    
    </div>
    <div>
        <input type="password" name="password" placeholder="password" required>
    </div>
    <div>
        <label for="phone" class="label">Phone</label>
        <div>       
        <input type="tel" id="phone" name="phone" placeholder="555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
    </div>
    <!--Create New Account Birthday-->
    <label for="birthday" class="label">Birthday</label>
    <div>
        <input type="date" id="birthday" name="birthday" required>
    </div>
     <!--Form:submit button-->
     <p>
     <input type="submit" value="Sign Up" class="btn btn-primary" id="sign-up">
    </p>
    </form>
</fieldset>
  

{% endblock %}