{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}
<div class="container">

<!--Create New Account-->
<fieldset class="cols spacing" id="fields">
    <div class="row loginPage">
  <h2 id="accountHeader">Sign-Up</h2>
</div>
  <form action="/users" method="POST">
    <div class="row loginPage">
            <input class="blockone" type="text" name="fname" placeholder="first name" required>
            <input class="blockone"type="text" name="lname" placeholder="last name" required>
    </div>
    <div class="row loginPage">
        <input class="blocktwo" type="text" name="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>    
    </div>
    <div class="row loginPage">
        <input class="blocktwo" type="password" name="password" placeholder="password"  required>
    </div>
    <div class="row loginPage">
        <label for="phone" class="label">Phone</label>
        </div>
        <div class="row loginPage">       
        <input class="blocktwo" type="tel" id="phone" name="phone" placeholder="555-555-5555" pattern="1? ?[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
    </div>
    <!--Create New Account Birthday-->
    <div class="row loginPage">
    <label for="birthday" class="label">Birthday</label>
    </div>
    <div class="row loginPage">
        <input class="blocktwo" type="date" id="birthday" name="birthday" required>
    </div>
     <!--Form:submit button-->
     <p class="row loginPage final">
        <input type="submit" value="Sign Up" class="btn btn-primary" id="login-button">
    </p>
    </form>
</fieldset>
</div>

{% endblock %}