{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header">
      <h1 id="accountHeader">{{ tour.tour_name }} Tour</h1>
      <p id='{{ tour.tour_id }}' class="about">{{ tour.details }}.</p>
    
    </div>
    <div class="tripInfo">
      <h3 class="inline">Start Date: {{ tour.dates }}</h3>
      <h3 class="inline">Trip Length: {{ tour.days }} days</h3>
    </div>
    <div class="text-center">
    <input type="submit" value="Book Trip" class="btn btn-primary booked" id="booked">
    <input type="submit" value="Save Trip" class="btn btn-light saved" id="saved">
  </div>
   
<!-- Description and google API -->

<div class="row" id="reviewArea">
    <div class="col-12 col-md-6 col-lg-3 blue">
      <section class="sidebar">
      <h5>Activites on Tours</h5>
      <ul>
        <li>Please explore the Port Trip locals</li>
        <li>pull from Let us know which you like most!</li>
      </ul>
    </section>
    </div>

    <div class="col-12 col-md-6 col-lg-9 blue">
      <div class='{{tour.port_id}}'>
      <section class="map">
        <h5>{{tour.port_name}}</h5>
        <div id="map" class="{{tour.state_name}}"></div>
        <div class="mapButtons">
        <h5 class="explore">Explore (click): </h5>
        <button class="btn btn-info" id="museums">Museums</button>
        <button class="btn btn-info" id="cafe">Cafe</button>
        <button class="btn btn-info" id="restaurants">Restaurants</button>
        </div>
    </section>
    </div>
  </div>
 </div>

    


<!-- Additional Row for Descriptions/Comments -->

  <div class="row" id="reviewArea">
    <h2  id="accountHeader">Reviews</h2>
    <div class="col-12 ratings text-center">
      {% for rating in ratings%}
      <div>
      <h5><span class="stars" id="{{rating.rating}}"></span></h5>
      <p class="quotes">"{{rating.review}}"</p>
      
      <hr class="mt-0 mb-4"> 
    </div>
    {% endfor %}
    </div>
</div>
<!-- Final Spacer -->
<div class="row">
  <div class="col text-center">
  </div>
</div>

<!-- script -->
<script src="/static/scripts/map.js"></script>
<script async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIU5CFOSTh6g_Mue4VOphmlQQ-fzlgOxs&libraries=places&callback=initMap">
</script>

{% endblock %}