{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}

<h1>Tour</h1>
<p> Cards of various tours to switch through</p>

<ul>
  {% for tour in tours%}
    <li>
      <a href="/tours/{{ tour.tour_id }}">{{ tour.tour_name }}</a>
      <p>Price: {{ tour.price }}</p>
    </li>
  {% endfor %}
</ul>

 <!-- Images of Tour Package -->
 

<p> User Quotes</p>
<p> Port Cities</p>
<ul>
  {% for tour in tours%}
<li><a href="/tours/{{ tour.tour_id }}">{{ tour.port_name }}<a></li>
{% endfor %}
</ul>

<p>Enjoy the breeze until your next stop on land</p>


{% endblock %}