{% extends 'base.html' %}
{% block title %}Nautical Tours{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header">
      <h1>{{ tour.tour_name }} Tour</h1>
      <p id='{{ tour.tour_id }}'>{{ tour.details }}.</p>
    </div>
    <h2>Start Date: {{ tour.dates }}</h2>
    <input type="submit" value="Book Trip" class="btn btn-primary booked" id="booked">
    <input type="submit" value="Save Trip" class="btn btn-light saved" id="saved">

   
<!-- Description and google API -->

<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      <div>Sidebar/Navbar/Description</div>
      <ul>
        <li>Please explore the Port Trip locals</li>
        <li>Let us know which you like most!</li>
      </ul>
     
    </div>

    <div class="col-12 col-md-6 col-lg-9">
      <div class='{{tour.port_id}}'>
      <section class="map">
        <h5>{{tour.port_name}}</h5>
        <div id="map" class="{{tour.state_name}}"></div>
        <span>
        <h5>Explore</h5>
        <button class="btn btn-success" id="museums">Museums</button>
        <button class="btn btn-info" id="cafe">Cafe</button>
        <button class="btn btn-danger" id="restaurants">Restaurants</button>
      </span>
    </section>
    </div>
  </div>
 </div>

    
<!-- Additional Row for Descriptions/Comments -->

  <div class="row">
    <h2>Reviews</h2>
    <div class="col-12 ratings">
      {% for rating in ratings%}
      <div>
      <h5>Score <span class="stars" id="{{rating.rating}}"></span></h5>
      <p class="quotes"> {{rating.review}}</p>
    </div>
    {% endfor %}
    </div>
</div>

<!-- script -->
<script src="/static/scripts/map.js"></script>
<script async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIU5CFOSTh6g_Mue4VOphmlQQ-fzlgOxs&libraries=places&callback=initMap">
</script>

{% endblock %}